@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.page_name {
    float: left;
    padding: 0 0 10px 0;
    margin-left: 10px;
    font-weight: bold;

}

.page_name a {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 0;
}

.page_name a:hover {
    display: table;
    border: 0;
    text-decoration: none;
}

.colortext {
    background-image: linear-gradient(120deg, #505ADD, #804FD1, #C449B3, #FAA62E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: black;
}

p {
    color: white;
}

.menu {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

a {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: white;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

a:hover {
    text-decoration: #834FD0 underline;
    color: white;
    font-weight: bold;
}

footer {
    color: ghostwhite;
    background: #141414 79%; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    flex: 0 0 auto;
}

h1 {
    color: white;
    text-align: left;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-left: 40px;
}


/*.form {*/
/*    margin-left: 40px;*/
/*    margin-top: 60px;*/
/*    text-align: left;*/
/*    display: table;*/
/*    clear: left;*/
/*}*/

.other {
    margin-left: 100px;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px;
}

#comment {
    height: 150px;
    width: 60%;
    border: 1px solid white;
    background: black;
    color: white;
}

.photo {
    width: 240px;
    height: 320px;
    background: #d9d9d9;
    border-radius: 8px;
    float: left;
    margin-left: 40px;
    margin-right: 80px;
}

.photo_film {
    width: 240px;
    height: 320px;
    background: #d9d9d9;
    border-radius: 8px;
    float: left;
}

.film {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    align-items: center;
    height: 512px;
}

.info {
    width: 80%;
    margin: 40px;
    text-align: left;
}

#allComments {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    text-align: left;
    padding-bottom: 15px;
    margin-top: 40px;
}

#allComments:hover {
    text-decoration: #834FD0 underline;
    color: white;
    font-weight: bold;
}

input[type="submit"], input[type="button"] {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    border: none; /* Убираем рамку */
    background-image: linear-gradient(120deg, #505ADD, #804FD1, #C449B3, #FAA62E);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
    margin-top: 30px;
}


/*.popup2{*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(36, 10, 77, 0.75);*/
/*    top: 0;*/
/*    left: 0;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*}*/

.popup2:target {
    opacity: 1;
    visibility: visible;
}

.popup2_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup2_content {
    background-color: black;
    color: white;
    font-weight: bold;
    max-width: 800px;
    padding: 30px;
    position: relative;
    border: 2px solid #804FD1;
}

.popup2_title {
    font-size: 24px;
    margin: 0 0 0 0;
}

.popup2_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#b4 {
    color: white;
    font-weight: bold;
    background: black;
    border: 2px solid #804FD1;
}

#submit {
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    border: none; /* Убираем рамку */
    background-image: linear-gradient(120deg, #505ADD, #804FD1, #C449B3, #FAA62E);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.info2 {
    text-align: left;
}

.new2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

#comment2 {
    height: 32px;
    width: 400px;
    border-radius: 22px;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    text-align: center;
}

.user_comment {
    border: 1px solid #141414;
    min-height: 70px;
    width: 70%;
    margin-left: 80px;
    margin-right: 60px;
    text-align: left;
}

#user_name {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    text-align: left;
    padding-bottom: 15px;
    /*margin-top: 50px;*/
}

#user_name:hover {
    text-decoration: #834FD0 underline;
    color: white;
    font-weight: bold;
}

.user_comment > p {
    font-weight: normal;
    font-size: 15px;
    color: white;
}

.cm {
    padding: 8px 20px;
}

.ph {
    height: 50px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 8px;
    float: left;
    margin: 8px 20px;
}

.ph_user {
    height: 50px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 8px;
    float: left;
}
