@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.area1 {
    background: #232323;
    height: 60vh;
}

h1 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: bolder;
    font-size: 92px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.35);
    background: linear-gradient(45deg, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 80px auto;
}

h2 {
    color: white;
    text-align: center;
    position: center;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin: 10px auto;
}

h3 {
    color: #232323;
    text-align: center;
    position: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.button1, .button2 {
    font-size: 27px;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    border-radius: 25px;
    color: white;
    text-align: center;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
}

.menu {
    padding-top: 15px;
    background-color: rgba(35, 35, 35, 0.77);
    align-items: center;
    text-align: center;
    color: #232323;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

a {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: lightgray;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

a:hover {
    text-decoration: #fd868c underline;
    color: white;
    font-weight: bold;
}

.close {
    display: inline-block;
    border: 1px solid #232323;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #ffffff;
    font-size: 12px;
    cursor: pointer;
}

h1.window {
    color: #232323;
    text-align: center;
    position: center;
    padding-bottom: 2px;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
}

form.window{
    color: #232323;
    text-align: center;
    position: center;
    padding-bottom: 2px;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
}

.area2 {
    height: 290px;
    margin-top: 30px;
    display: flex;
    overflow: auto;
    text-align: center;
}

.area2 div:nth-child(1) {
    flex: 1;
}

.area2 div:nth-child(2) {
    flex: 1;
}

.area2 div:nth-child(3) {
    flex: 1;
}

.button3, .button4, .button5 {
    font-size: 16px;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    border-radius: 25px;
    color: white;
    text-align: center;
    font-style: normal;

    border: none;
    padding: 15px 32px;
    text-decoration: none;
}

footer {
    color: floralwhite;
    background: #232323; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    flex: 0 0 auto;
}