@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.page_name {
    float: left;
    padding: 0 0 10px 0;
    margin-left: 10px;
    font-weight: bold;
}

.page_name a{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 0;
}

.page_name a:hover{
    display: table;
    border: 0;
    text-decoration: none;
}

.colortext {
    /*color: #834FD0; !* Красный цвет выделения *!*/
    background-image: linear-gradient(120deg, #505ADD, #804FD1, #C449B3, #FAA62E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.authorization_form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: black;
}

h1 {
    color: white;
    text-align: center;
    position: center;
    padding-bottom: 5px;
    font-style: normal;
    font-weight: bolder;
    font-size: 54px;

    background: linear-gradient(120deg, #505ADD, #804FD1, #C449B3, #FAA62E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 20px auto;
    margin-top: 80px;
}

.button {
    font-size: 17px;
    font-weight: bold;
    background-image: linear-gradient(120deg, #505ADD, #804FD1, #C449B3, #FAA62E);
    border-radius: 8px;
    color: white;
    text-align: center;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
}


.menu {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

a {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: white;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

form > a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: white;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

a.reg{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: lightgray;
    text-decoration: none;
}

a:hover {
    text-decoration: #834FD0 underline;
    color: white;
    font-weight: bold;
}

footer {
    color: ghostwhite;
    background: #141414 79%; /* Цвет фона */
    padding-bottom: 10px; /* Поля вокруг текста */
    padding-top: 10px;
    flex: 0 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

#remember_me_check {
    margin: 10px;
}

.check {
    color: white;
    background: white;
}

* {
    box-sizing: border-box;
}

p {
    color: white;
}

form > div {
    position: relative;
    background: black;
    border-bottom: 2px solid #834FD0;
}

form > div > label {
    opacity: 0.3;
    font-weight: normal;
    position: absolute;
    top: 22px;
    left: 20px;
    color: white;
}

form > div > input[type="text"],
form > div > input[type="password"] {
    width: 512px;
    border: 0;
    padding: 20px 20px 20px 50px;
    background: black;
    color: white;
}

form > div > input[type="text"]:focus,
form > div > input[type="password"]:focus {
    outline: 0;
    background: black;
}

form > div > input[type="text"]:focus + label,
form > div > input[type="password"]:focus + label {
    opacity: 0;
}

form > div > input[type="text"]:valid,
form > div > input[type="password"]:valid {
    background: black;
}

form > div > input[type="text"]:valid + label,
form > div > input[type="password"]:valid + label {
    opacity: 0;
}

form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
    background-image: linear-gradient(#834FD0, black);
    opacity: 65%;
}

form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
    opacity: 0;
}

form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements {
    max-height: 200px;
    padding: 0 30px 20px 50px;
}

form > div > .requirements {
    padding: 0 30px 0 50px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: #834FD0;
}



